html {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.05em;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    overflow-x: hidden;
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    padding: 0 1rem;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    backdrop-filter: saturate(180%) blur(15px);
}

.top-nav .top-nav-link {
    display: flex;
    align-items: center;
    max-width: 1350px;
    height: 100%;
    margin: 0 auto;
}

.top-nav-link .home-title {
    margin-right: auto;
    font-size: 2rem;
    font-weight: bold;
}

.top-nav-link a {
    font-size: 1.2rem;
    color: #ffffff;
}

.top-nav-link a:not(.title) {
    margin-left: 2em;
}

.scroll-section {
    position: relative;

}

.video-container {
    width: 100%;
    height: 100vh;
    position: relative;
    pointer-events: none;
    z-index: 0;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.scroll-section {
}

#scroll-section-0 h1 {
    font-size: 5rem;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#scroll-section-1 .about-me {
    font-size: 3.5rem;
    padding: 5rem 10rem;
    font-weight: bold;
}

#scroll-section-1 .about-me-form {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}


#scroll-section-1 .about-me-text {
    padding-left: 10rem;
    font-size: 1.25rem;
    line-height: 2.0;
}

.about-me-text .about-me-text-item {
    margin-top: 20px;
}

#scroll-section-1 .about-me-image {
    padding-left: 20rem;
}

#scroll-section-1 .about-me-image .about-me-image-source img {
    width: 72%;
    height: 72%;
    border-radius: 20px 20px;
    box-shadow: 0 3px 6px gray;
}

#scroll-section-1 .about-me-image .about-me-image-text {
    padding-top: 2.5rem;
    line-height: 2.0;
}


#scroll-section-2 {
    background-color: #e0e0f0;
}

#scroll-section-2 .skills {
    font-size: 3.5rem;
    padding-top: 5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.skills-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.skills-item-container.skill {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-item-container.skill:not(:last-child) {
    margin-right: 3rem;
}

.skills-item-container.skill div:not(:last-child) {
    margin-bottom: 1rem;
}

.skills-item-container.skill .icon {
    width: 7.5rem;
    height: 7.5rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px 15px;
    box-shadow: 0 3px 6px gray;
}

.skills-item-container.skill .skill-name {
    text-align: center;
    font-weight: bold;
}


#scroll-section-3 {
    background-color: wheat;
}

#scroll-section-3 .Project{
    font-size: 3.5rem;
    padding-top: 5rem;
    padding-right: 5rem;
    text-align: right;
    font-weight: bold;
    margin-bottom: 100px;
}

#scroll-section-3 .project-item {
    width: 60%;
    height: 200px;
    margin: 0 auto 50px;
    background-color: #ffffff;
    border-radius: 20px 20px;
    box-shadow: 0 3px 6px gray;
}

#scroll-section-3 .project-item .project-item-title {
    padding: 2rem 3rem;
}

#scroll-section-3 .project-item .project-item-intro {
    padding-left: 3rem;
    line-height: 2.0;
}


#scroll-section-3 .project-item-button .github{
    float: right;
    padding: 0.625rem 1rem;
    background-color: wheat;
    margin-right: 1.5rem;
    border-radius: 15px 15px;
}

#scroll-section-3 .project-item-button .visit{
    float: right;
    padding: 0.625rem 1rem;
    background-color: wheat;
    margin-right: 1.5rem;
    border-radius: 15px 15px;
}

.contact {
    height: 50vh;
}

.contact .contact-title {
    font-size: 3.5rem;
    padding-top: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.contact .contact-email, .contact .contact-phone  {
    font-size: 3rem;
    text-align: center;
    margin-top: 60px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    bottom: 0;
}








